<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Generate Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="form-container">
    <ion-list>
      <ion-item>
        <ion-icon name="checkmark-circle" color="success"></ion-icon>&nbsp;&nbsp;&nbsp;
        <ion-input [(ngModel)]="passwordLength" (ionInput)="onInput($event)"  required="required" (ionChange)="updateSet()" label="Password Length" type="number" min="6" max="255" maxlength="3"
                   placeholder="Enter Length"></ion-input>
      </ion-item>
      <ion-item>
        <ion-checkbox (ionChange)="updateSet()" [(ngModel)]="bSymbol" labelPlacement="end" mode="ios" justify="start">Include Symbol</ion-checkbox><ion-input (ionChange)="updateSet()" [(ngModel)]="customSymbolSet" label="" placeholder="Enter symboles"></ion-input>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="bNumber" (ionChange)="updateSet()" labelPlacement="end" mode="ios" justify="start">Include Numbers</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox (ionChange)="updateSet()" [(ngModel)]="bLower" labelPlacement="end" mode="ios" justify="start">Include Lowercase</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox (ionChange)="updateSet()" [(ngModel)]="bUpper" labelPlacement="end" mode="ios" justify="start">Include Uppercase</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="bBeginLatter" (ionChange)="updateSet()" labelPlacement="end" mode="ios" justify="start">Don't begin with a number or symbol</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="bNoSimilar" labelPlacement="end" mode="ios" justify="start">Exclude Similar(e.g. i, l, 1, L, o, 0, O, etc.)</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="bAllUnique" (ionChange)="updateSet()" labelPlacement="end" mode="ios" justify="start">Use Unique Characters</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="bNoSequential" labelPlacement="end" mode="ios" justify="start">No Sequential Characters</ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-list>
  <ion-item (click)="copy()" *ngIf="password.length > 0" color="light">Click to copy password</ion-item>
  <ion-item (click)="copy()" *ngIf="password.length > 0">
    <ion-icon name="key" slot="start"></ion-icon><ion-label class="password">&nbsp;{{ password }}</ion-label>
    <ion-icon name="copy" slot="end"></ion-icon>
  </ion-item>
  <ion-item class="error-message" *ngIf="error.length > 0" color="danger">
    <ion-icon name="warning" slot="start"></ion-icon>
    <ion-label>{{error}}</ion-label>
  </ion-item>
  <ion-button *ngIf="error.length === 0" expand="block" (click)="generate()">Generate</ion-button>
</ion-content>
